appdirs==1.4.4
atomicwrites==1.4.0
blis==0.7.11
catalogue==2.0.10
cloudpathlib==0.18.1
confection==0.1.5
cymem==2.0.8
dacite==1.8.1
emoji==2.12.1
funcy==2.0
hdbscan==0.8.38.post1
jsonpointer==2.1
langcodes==3.4.0
language_data==1.2.0
marisa-trie==1.2.0
murmurhash==1.0.10
preshed==3.0.9
protobuf==3.20.3
py4j==0.10.9.7
pyLDAvis==3.4.1
pyls-spyder==0.4.0
pynndescent==0.5.13
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyspark==3.5.1
scipy==1.12.0
setuptools==69.5.1
shellingham==1.5.4
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
streamlit==1.38.0
themoviedb==1.0.2
thinc==8.2.5
typer==0.12.3
umap-learn==0.5.6
wasabi==1.1.3
weasel==0.4.1
wheel==0.43.0
wordcloud==1.9.3
plotly==5.24.1
